<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <appSettings>

        <!-- System Messages-->
        <add key="TimeToShowSystemMessages" value="120" />

        <!-- Security -->
        <add key="AdminUser" value="admin" />
        <add key="AdminDefaultPassword" value="admin!123" />
        <add key="AdminEmailAddress" value="ivan.krsul@artexacta.com" />
        <add key="AdminFullName" value="Administrador" />
        <add key="AdminRole" value="Administrador" />
        <add key="AdminQuestion" value="El usuario Administrador" />
        <add key="AdminAnswer" value="Admin" />

        <!-- Version -->
        <add key="majorVersionNumber" value="1" />
        <add key="minorVersionNumber" value="3" />
        <add key="releaseNumber" value="0" />

        <!-- Files -->
        <add key="TempDirectory" value="C:\AppFiles\TempSegCom" />
        <add key="LogDirectory" value="C:\AppFiles\LogSegCom" />
        <add key="DocumentStorageDirectory" value="c:\AppFiles\DocSegCom" />
        <add key="GetMaxDocumentsInKB" value="5120" />
        <!-- 5 MB-->

        <!-- Language-->
        <add key="LanguageCookieName" value="LanguageSettings" />
        <add key="DefaultLanguage" value="ES" />

        <!-- RadComboBox Comfiguration -->
        <add key="radComboPageSize" value="9" />

        <!-- Mail Comfiguration -->
        <add key="ReturnEmailAddress" value="info@artexacta.com" />

        <!-- Feedback Configuration -->
        <add key="FeedbackEnabled" value="false" />
        <add key="FeedbackBaseUrl" value="http://feedback.artexacta.com" />
        <add key="FeedbackApplicationName" value="APP" />
        <add key="FeedbackAnonymousUser" value="External" />
        <add key="FeedbackAnonymousEmail" value="vladimir.calderon@artexacta.com" />
        <add key="FeedbackApplicationKey" value="xxxxxxxxxxxxx" />
        <add key="FeedbackApplicationVersion" value="1.0.0" />

        <!--Task Manager Configuration-->
        <add key="DummyPageUrlForTaskManager" value="http://localhost:62978//DummyCachePage.aspx" />
    </appSettings>
    <connectionStrings>
        <add name="DBConnectionString" connectionString="Data Source=localhost\SQL2008;Initial Catalog=SegComDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBUsersConnectionString" connectionString="Data Source=localhost\SQL2008;Initial Catalog=SegComDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SilverTrackV2DBConnectionString" connectionString="Data Source=server.artexacta.com\websql;Initial Catalog=SilverTrackV2DB;Persist Security Info=True;User ID=sistemaComercial;Password=240$FiatLux"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <membership>
            <providers>
                <remove name="AspNetSqlMembershipProvider" />
                <add name="AspNetSqlMembershipProvider" connectionStringName="DBUsersConnectionString" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
            </providers>
        </membership>
        <roleManager enabled="true">
            <providers>
                <remove name="LocalSqlServer" />
                <remove name="AspNetSqlRoleProvider" />
                <add connectionStringName="DBUsersConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
                <remove name="AspNetWindowsTokenRoleProvider" />
            </providers>
        </roleManager>
        <anonymousIdentification enabled="true" />
        <globalization uiCulture="es" culture="es-ES" />
        <authentication mode="Forms">
            <forms name=".SegComLOGIN" defaultUrl="MainPage.aspx" loginUrl="~/Authentication/Login.aspx" slidingExpiration="true" timeout="2880" />
        </authentication>
        <customErrors defaultRedirect="~/RuntimeError.aspx" mode="RemoteOnly" />
        <profile>
            <providers>
                <remove name="AspNetSQLProfileProvider" />
                <add connectionStringName="DBUsersConnectionString" applicationName="/" name="AspNetSQLProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
            </providers>
            <properties>
                <!-- This variable contains the validation code necessary to verify the user's email -->
                <add name="AccountValidationCode" type="System.String" readOnly="false" allowAnonymous="false" defaultValue="" />
                <add name="SystemMessages" type="Artexacta.App.Utilities.SystemMessages.SystemMessageList" allowAnonymous="false" serializeAs="Binary" />
            </properties>
        </profile>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
                <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <pages validateRequest="false" theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <controls>
                <add src="~/UserControls/SearchUserControl/SearchControl.ascx" tagName="SearchControl" tagPrefix="app" />
                <add src="~/UserControls/PagerControl.ascx" tagName="PagerControl" tagPrefix="asistexa" />
                <add src="~/UserControls/ContextualHelp.ascx" tagName="ContextualHelp" tagPrefix="app" />
                <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
            </controls>
        </pages>
        <httpRuntime maxRequestLength="16384" />
        <httpHandlers>
            <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
            <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
            <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
            <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
            <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
        </httpHandlers>
        <httpModules>
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
        </httpModules>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="sistemacomercial@artexacta.com">
                <network host="mail.artexacta.com" password="Fiat$Lux240" port="25" userName="sistemacomercial@artexacta.com" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <validation validateIntegratedModeConfiguration="false" />
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="16777216" />
            </requestFiltering>
        </security>
        <modules runAllManagedModulesForAllRequests="true">
            <remove name="RadUploadModule" />
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
        </modules>
        <handlers>
            <remove name="Telerik_Web_UI_WebResource_axd" />
            
            <remove name="ChartImage_axd" />
            <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
            <remove name="Telerik_Web_UI_DialogHandler_aspx" />
            <remove name="Telerik_RadUploadProgressHandler_ashx" /><add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
            <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
            <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
        </handlers>
    </system.webServer>
    <log4net>
        <!--
      Este appender escribe logs a un archivo Logs\RollingLog.log que lo irá rotando cuando
      el tamaño del log sea de un mega. El sistema mantendrá un máximo de 10 archivos 
      históricos:
      
      Logs\RollingLog.log
      Logs\RollingLog.log.1
      ...
      Logs\RollingLog.log.10
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.RollingFileAppender.html
    -->
        <appender name="RollingLogAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Logs\\RollingLog.log" />
            <param name="AppendToFile" value="true" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="1000000" />
            <param name="RollingStyle" value="Size" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <!--
      Este appender escribe logs a un archivo llamado Logs\Log.log.  El archivo crecerá sin límites.
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.FileAppender.html
    -->
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="Logs\\Log.log" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
            </layout>
        </appender>
        <!--
      Este appender escribe logs a un archivo llamado Logs\CompleteLot.  Este archivo creacerá sin
      límites.  El log incluye información de detalle del lugar donde se dió el mensaje, advertencia o error,
      incluyendo el nombre de la rutina, el número de línea y el hilo.
      
      Este appender es LENTO!  Imprime el nombre dl usuario activo cuando se dió el mensaje, 
      la clase que estaba ejecutando, el nombre de la rutina y la línea de código que se estaba ejecutando.
      Es útil cuando se desea hacer depuraciones remotas.

      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.FileAppender.html
    -->
        <appender name="CompleteLogFileAppender" type="log4net.Appender.FileAppender">
            <param name="File" value="Logs\\CompleteLog.log" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %username - %type.%method line %line - %message%newline" />
            </layout>
        </appender>
        <!--
      Este appender envía el log por email a la persona indicada en esta configuración.  El appender
      agrupará los mensajes hasta que el email tenga 1Kbyte de tamaño.
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.SmtpAppender.html
    -->
        <appender name="SmtpLogAppender" type="log4net.Appender.SmtpAppender">
            <bufferSize value="512" />
            <to value="marcela.martinez@artexacta.com" />
            <from value="appname@artexacta.com" />
            <authentication value="basic" />
            <username value="test@artexacta.com" />
            <password value="test!123" />
            <subject value="Error en PatronLog" />
            <smtpHost value="mail.artexacta.com" />
            <lossy value="false" />
            <evaluator type="log4net.Core.LevelEvaluator">
                <threshold value="ERROR" />
            </evaluator>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
            </layout>
        </appender>
        <!--
      Este appender envía los logs a una base de datos utilizando un Stored Procedure.
      
      Los tipos de conección posibles se pueden obtener de: 
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.ConnectionType.html
      
      Las posibles cadenas de conexión pueden obtenerse de: 
      http://www.connectionstrings.com/
      
      Más información sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.html
    -->
        <appender name="AdoNetLogAppender" type="log4net.Appender.AdoNetAppender">
            <bufferSize value="0" />
            <connectionType value="System.Data.OleDb.OleDbConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="Provider=SQLNCLI;Server=LAPTOPJAVIER\SQLEXPRESS;Database=DBPatronLogs;Trusted_Connection=yes;" />
            <commandType value="StoredProcedure" />
            <commandText value="[dbo].[usp_InsertarRegistroLog]" />
            <parameter>
                <parameterName value="@fecha" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@thread" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%thread" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@loglevel" />
                <dbType value="String" />
                <size value="50" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%level" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@logger" />
                <dbType value="String" />
                <size value="255" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%logger" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@message" />
                <dbType value="String" />
                <size value="8000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
            <parameter>
                <parameterName value="@exception" />
                <dbType value="String" />
                <size value="8000" />
                <layout type="log4net.Layout.ExceptionLayout" />
            </parameter>
        </appender>
        <!--
      Appender que registra los eventos de log en el EventLog de Windows
      
      Más información sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.EventLogAppender.html
    -->
        <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
            <param name="LogName" value="LogArtexacta" />
            <param name="ApplicationName" value="PatronLogs" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
        <!--
      Este appender envía sólo la fecha y el mensaje a una base de datos utilizando un Stored Procedure.
      
      Los tipos de conección posibles se pueden obtener de: 
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.ConnectionType.html
      
      Las posibles cadenas de conexión pueden obtenerse de: 
      http://www.connectionstrings.com/
      
      Más información sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.html
    -->
        <appender name="AdoNetBitacoraAppender" type="log4net.Appender.AdoNetAppender">
            <bufferSize value="0" />
            <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
            <connectionString value="Data Source=localhost;Initial Catalog=AEWebTemplateDB;User ID=sa;Password=aaaaaa" />
            <commandType value="StoredProcedure" />
            <commandText value="[dbo].[usp_LOG_InsertBitacora]" />
            <parameter>
                <parameterName value="@fecha" />
                <dbType value="DateTime" />
                <layout type="log4net.Layout.RawUtcTimeStampLayout" />
            </parameter>
            <parameter>
                <parameterName value="@parametros" />
                <dbType value="String" />
                <size value="8000" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="%message" />
                </layout>
            </parameter>
        </appender>
        <!--
      Este appender escribe logs a un archivo Logs\RollingBitacora.log que lo irá rotando cuando
      el tamaño del log sea de un mega. El sistema mantendrá un máximo de 10 archivos 
      históricos:
      
      Logs\RollingBitacora.log
      Logs\RollingBitacora.log.1
      ...
      Logs\RollingBitacora.log.10
      
      El formato es especial, por que sólo imprime la fecha, hora y el mensaje:
      
        1/1/2008|08:00:00|mensaje
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.RollingFileAppender.html
    -->
        <appender name="RollingBitacoraAppender" type="log4net.Appender.RollingFileAppender">
            <param name="File" value="Logs\\RollingBitacora.log" />
            <param name="AppendToFile" value="true" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="1000000" />
            <param name="RollingStyle" value="Size" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date{dd/MM/yyyy|HH:mm:ss}|%message%newline" />
            </layout>
        </appender>
        <!--
      Definimos un logger llamado Standard.  Cuando se elija este logger, los mensajes se 
      grabarán en el LogFileAppender, RollingLogAppender y en el AdoNetLogAppender
    -->
        <logger name="Standard">
            <level value="Debug" />
            <appender-ref ref="RollingLogAppender" />
        </logger>
        <logger name="Bitacora_Operaciones">
            <level value="Info" />
            <appender-ref ref="AdoNetBitacoraAppender" />
        </logger>
    </log4net>
</configuration>