<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- System Messages-->
    <add key="TimeToShowSystemMessages" value="30"/>
    <!-- Security -->
    <add key="AdminUser" value="admin"/>
    <add key="AdminDefaultPassword" value="admin!123"/>
    <add key="AdminEmailAddress" value="vladimir.calderon@artexacta.com"/>
    <add key="AdminFullName" value="Administrator"/>
    <add key="AdminRole" value="Administrator"/>
    <add key="AdminQuestion" value="Administrator User"/>
    <add key="AdminAnswer" value="Admin"/>
    <!-- Version -->
    <add key="majorVersionNumber" value="1"/>
    <add key="minorVersionNumber" value="11"/>
    <add key="releaseNumber" value="0"/>
    <!-- Files -->
    <add key="TempDirectory" value="C:\AppFiles\temp"/>
    <add key="LogDirectory" value="C:\AppFiles\logs"/>
    <add key="DocumentStorageDirectory" value="c:\AppFiles\documents"/>
    <add key="GetMaxDocumentsInKB" value="5120"/>
    <!-- 5 MB-->
    <!-- Language-->
    <add key="LanguageCookieName" value="LanguageSettingsFRTWV"/>
    <add key="DefaultLanguage" value="EN"/>
    <!-- RadComboBox Comfiguration -->
    <add key="radComboPageSize" value="9"/>
    <!-- Mail Comfiguration -->
    <add key="ReturnEmailAddress" value="info@artexacta.com"/>
    <add key="SenderEmailAddress" value="vladimir.calderon@artexacta.com"/>
    <!-- Feedback Configuration -->
    <add key="FeedbackEnabled" value="false"/>
    <add key="FeedbackBaseUrl" value="http://feedback.artexacta.com"/>
    <add key="FeedbackApplicationName" value="KPITOOL"/>
    <add key="FeedbackAnonymousUser" value="External"/>
    <add key="FeedbackAnonymousEmail" value="vladimir.calderon@artexacta.com"/>
    <add key="FeedbackApplicationKey" value="xxxxxxxxxxxxx"/>
    <add key="FeedbackApplicationVersion" value="1.0.0"/>
    <!--Task Manager Configuration-->
    <add key="DummyPageUrlForTaskManager" value="http://localhost:31206/KPITOOLWebApp/DummyCachePage.aspx"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=MSARTEXACTA;Initial Catalog=KPIDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DBUsersConnectionString" connectionString="Data Source=MSARTEXACTA;Initial Catalog=KPIDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetSqlMembershipProvider" connectionStringName="DBUsersConnectionString" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <remove name="LocalSqlServer"/>
        <remove name="AspNetSqlRoleProvider"/>
        <add connectionStringName="DBUsersConnectionString" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <remove name="AspNetWindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <anonymousIdentification enabled="true"/>
    <globalization uiCulture="en" culture="en-US"/>
    <authentication mode="Forms">
      <forms name=".COOKIEAPPNAMELOGIN" defaultUrl="MainPage.aspx" loginUrl="~/Authentication/Login.aspx" slidingExpiration="true" timeout="2880"/>
    </authentication>
    <customErrors defaultRedirect="~/RuntimeError.aspx" mode="RemoteOnly"/>
    <profile>
      <providers>
        <remove name="AspNetSQLProfileProvider"/>
        <add connectionStringName="DBUsersConnectionString" applicationName="/" name="AspNetSQLProfileProvider" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
      <properties>
        <!-- This variable contains the validation code necessary to verify the user's email -->
        <add name="AccountValidationCode" type="System.String" readOnly="false" allowAnonymous="false" defaultValue=""/>
        <add name="SystemMessages" type="Artexacta.App.Utilities.SystemMessages.SystemMessageList" allowAnonymous="false" serializeAs="Binary"/>
      </properties>
    </profile>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages validateRequest="false" theme="Captura" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add src="~/UserControls/SearchUserControl/SearchControl.ascx" tagName="SearchControl" tagPrefix="app"/>
        <add src="~/UserControls/PagerControl.ascx" tagName="PagerControl" tagPrefix="asistexa"/>
        <add src="~/UserControls/ContextualHelp.ascx" tagName="ContextualHelp" tagPrefix="app"/>
        <add src="~/UserControls/BasicContextualHelp.ascx" tagName="BasicContextualHelp" tagPrefix="app"/>
        <add src="~/UserControls/FRTWB/AddButton.ascx" tagName="AddButton" tagPrefix="app"/>
        <add src="~/UserControls/FRTWB/KpiImage.ascx" tagName="KpiImage" tagPrefix="app"/>
        <add src="~/UserControls/LanguageSelector.ascx" tagName="LanguageSelector" tagPrefix="app"/>
        <add namespace="Artexacta.App.Utilities.Controls" tagPrefix="app"/>
        <add src="~/UserControls/TourControl.ascx" tagName="TourControl" tagPrefix="app"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpRuntime/>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="test@artexacta.com">
        <network host="mail.artexacta.com" password="test!123" port="25" userName="test@artexacta.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="409600000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
    </modules>
    <handlers>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <log4net>
    <!--
      Este appender escribe logs a un archivo Logs\RollingLog.log que lo irá rotando cuando
      el tamaño del log sea de un mega. El sistema mantendrá un máximo de 10 archivos 
      históricos:
      
      Logs\RollingLog.log
      Logs\RollingLog.log.1
      ...
      Logs\RollingLog.log.10
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.RollingFileAppender.html
    -->
    <appender name="RollingLogAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs\\RollingLog.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="1000000"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <!--
      Este appender envía el log por email a la persona indicada en esta configuración.  El appender
      agrupará los mensajes hasta que el email tenga 1Kbyte de tamaño.
      
      Ver más detalles sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.SmtpAppender.html
    -->
    <appender name="SmtpLogAppender" type="log4net.Appender.SmtpAppender">
      <bufferSize value="512"/>
      <to value="marcela.martinez@artexacta.com"/>
      <from value="appname@artexacta.com"/>
      <authentication value="basic"/>
      <username value="test@artexacta.com"/>
      <password value="test!123"/>
      <subject value="Error en PatronLog"/>
      <smtpHost value="mail.artexacta.com"/>
      <lossy value="false"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline"/>
      </layout>
    </appender>
    <!--
      Este appender envía sólo la fecha y el mensaje a una base de datos utilizando un Stored Procedure.
      
      Los tipos de conección posibles se pueden obtener de: 
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.ConnectionType.html
      
      Las posibles cadenas de conexión pueden obtenerse de: 
      http://www.connectionstrings.com/
      
      Más información sobre este tipo de appender en:
      http://logging.apache.org/log4net/release/sdk/log4net.Appender.AdoNetAppender.html
    -->
    <appender name="AdoNetBitacoraAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="0"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=server.artexacta.com\WEBSQL;Initial Catalog=WBTDataWarehouse;User ID=wbt;Password=Taft@2387"/>
      <commandType value="StoredProcedure"/>
      <commandText value="[dbo].[usp_LOG_InsertBitacora]"/>
      <parameter>
        <parameterName value="@fecha"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawUtcTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@parametros"/>
        <dbType value="String"/>
        <size value="8000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
    </appender>
    <!--
      Definimos un logger llamado Standard.  Cuando se elija este logger, los mensajes se 
      grabarán en el LogFileAppender, RollingLogAppender y en el AdoNetLogAppender
    -->
    <logger name="Standard">
      <level value="Error"/>
      <appender-ref ref="RollingLogAppender"/>
    </logger>
    <logger name="Bitacora_Operaciones">
      <level value="Info"/>
      <appender-ref ref="AdoNetBitacoraAppender"/>
    </logger>
  </log4net>
</configuration>