/* <RadMenu / Office2010Blue> */

.RadMenu_app .rmRootGroup, .RadMenu_app a.rmLink, .RadMenu_app .rmText, .RadMenu_app .rmLeftArrow, .RadMenu_app .rmRightArrow, .RadMenu_app .rmTopArrow, .RadMenu_app .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}
a.rmLink
{
	cursor: pointer !important;
}
.RadMenu_app .rmRootGroup
{
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #eff6fd;
}

/* <Root items> */

.RadMenu_app, .RadMenu_app a.rmLink
{
	font: normal 12px/23px "Verdana" , Arial, sans-serif;
	text-decoration: none;
	color: #000;
	/*text-shadow: 1px 1px #fff;*/
}
.rmRootLink
{
	color: #fff !important;
	/*text-shadow: 1px 1px #333 !important;*/
}
.RadMenu_app a.rmLink, .RadMenu_app .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_app a.rmLink:hover, .RadMenu_app a.rmFocused, .RadMenu_app a.rmSelected
{
	color: #1e395b;
	background-position: 0 -72px;
	/*text-shadow: 1px 1px #333 !important;*/
}

.RadMenu_app a.rmLink:hover .rmText, .RadMenu_app a.rmFocused .rmText, .RadMenu_app a.rmSelected .rmText
{
	background-position: 100% -96px;
}

.RadMenu_app a.rmExpanded, .RadMenu_app a.rmExpanded:hover
{
	color: #1e395b;
	background-position: 0 -120px;
}

.RadMenu_app a.rmExpanded .rmText, .RadMenu_app a.rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_app a.rmDisabled, .RadMenu_app a.rmDisabled:hover
{
	color: #8ba0bc;
}

.RadMenu_app a.rmDisabled:hover, .RadMenu_app a.rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_app .rmGroup, .RadMenu_app .rmMultiColumn, .RadMenu_app .rmGroup .rmVertical
{
	border: 1px solid #a7abb0;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_app .rmTopFix, .RadMenu_app .rmBottomFix, .RadMenu_app .rmRoundedCorners .rmGroup .rmItem, .RadMenu_app .rmRoundedCorners li.rmFirstGroupColumn .rmItem, .RadMenu_app .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem, .RadMenu_app .rmRoundedCorners ul.rmHorizontal .rmFirst, .RadMenu_app_Context.rmRoundedCorners .rmGroup .rmItem, .RadMenu_app_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff;
	background-repeat: repeat-y;
	background-position: -4px 0;
}

* html .rmRoundedCorners_Office2007 .rmGroup .rmItem, * html .rmRoundedCorners_Office2007 ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #fff;
	background-repeat: repeat-y;
	background-position: -4px 0;
}

.RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_app .rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_app .rmRoundedCorners .rmGroupColumn .rmItem, .RadMenu_app .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem, .RadMenu_app .rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_app .rmRoundedCorners .rmScrollWrap .rmVertical .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrap .rmItem, .RadMenu_app_Context.rmRoundedCorners .rmHorizontal .rmItem, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmGroup, * html .rmRoundedCorners_Office2007 .rmScrollWrap .rmItem, * html .rmRoundedCorners_Office2007 .rmHorizontal .rmItem, * html .rmRoundedCorners_Office2007 .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_app .rmRoundedCorners .rmGroupColumn
{
	background-color: #fff;
}

.RadMenu_app .rmBottomLeft, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer, .RadMenu_app_Context.rmRoundedCorners ul.rmGroup, .RadMenu_app .rmRoundedCorners ul.rmGroup, .RadMenu_app .rmRoundedCorners .rmMultiColumn
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer, * html .rmRoundedCorners_Office2007 .rmGroup ul.rmGroup, * html .rmRoundedCorners_Office2007 ul.rmGroup
{
	background-image: url('Menu/rmRoundedLeft.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_app .rmTopRight, .RadMenu_app .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadMenu_app .rmTopFix, .RadMenu_app .rmBottomFix, .RadMenu_app .rmRoundedCorners .rmGroup .rmFirst, .RadMenu_app_Context.rmRoundedCorners .rmGroup .rmFirst, .rmRoundedCorners_Office2007 .rmGroup .rmFirst
{
	border-color: #a7abb0;
}

.RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopFix, * html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomFix
{
	background: #FFF;
}

.RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

* html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmTopArrow, * html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmBottomArrow, * html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmLeftArrow, * html .rmRoundedCorners_Office2007 .rmScrollWrapContainer .rmRightArrow
{
	background-color: #FFF;
	border: 0;
}

.RadMenu_app li.rmTopFix, .RadMenu_app li.rmBottomFix
{
	background-position: -5px 0;
}

.RadMenu_app_rtl .rmBottomLeft, .RadMenu_app_rtl .rmRoundedCorners ul.rmGroup, .RadMenu_app_rtl .rmRoundedCorners .rmMultiColumn, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer, .RadMenu_app .rmScrollWrapContainer .rmBottomLeft, .rmRoundedCorners.RadMenu_app_Context_rtl ul.rmGroup, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_app_rtl .rmTopRight, .RadMenu_app_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_app_rtl li.rmTopFix, .RadMenu_app_rtl li.rmBottomFix, .RadMenu_app_rtl .rmRoundedCorners .rmGroup .rmItem, .rmRoundedCorners.RadMenu_app_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_app .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_app_rtl .rmGroup, .RadMenu_app_rtl .rmMultiColumn, .RadMenu_app_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_app .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_app .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_app .rmGroup .rmFirst, .RadMenu_app .rmGroup .rmLast, .RadMenu_app .rmRoundedCorners .rmScrollWrapContainer li.rmItem, .RadMenu_app_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem, .rmRoundedCorners_Office2007 .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_app .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_app .rmGroup a.rmLink:hover, .RadMenu_app .rmGroup a.rmFocused, .RadMenu_app .rmGroup a.rmSelected, .RadMenu_app .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

/* <expand arrows> */

.RadMenu_app .rmVertical .rmExpandRight, .RadMenu_app_Context .rmGroup .rmExpandRight, .RadMenu_app .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_app .rmVertical a.rmLink:hover .rmExpandRight, .RadMenu_app .rmVertical a.rmFocused .rmExpandRight, .RadMenu_app .rmVertical a.rmExpanded .rmExpandRight, .RadMenu_app .rmVertical a.rmSelected .rmExpandRight, .RadMenu_app .rmVertical a.rmLink:hover .rmExpandLeft, .RadMenu_app .rmVertical a.rmFocused .rmExpandLeft, .RadMenu_app .rmVertical a.rmExpanded .rmExpandLeft, .RadMenu_app .rmVertical a.rmSelected .rmExpandLeft
{
	background-image: url('Menu/rmRootExpand.png');
}

.RadMenu_app .rmVertical a.rmLink:hover .rmExpandRight, .RadMenu_app .rmVertical a.rmSelected .rmExpandRight, .RadMenu_app .rmVertical a.rmFocused .rmExpandRight
{
	background-position: 100% -2px;
}

.RadMenu_app .rmVertical a.rmExpanded .rmExpandRight, .RadMenu_app .rmVertical a.rmExpanded:hover .rmExpandRight
{
	background-position: 100% -29px;
}

.RadMenu_app .rmGroup a.rmLink:hover .rmExpandRight, .RadMenu_app .rmGroup a.rmFocused .rmExpandRight, .RadMenu_app .rmGroup a.rmSelected .rmExpandRight, .RadMenu_app .rmGroup a.rmExpanded .rmExpandRight, .RadMenu_app .rmGroup a.rmLink:hover .rmExpandDown, .RadMenu_app .rmGroup a.rmFocused .rmExpandDown, .RadMenu_app .rmGroup a.rmSelected .rmExpandDown, .RadMenu_app .rmGroup a.rmExpanded .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -240px;
}

.RadMenu_app .rmRootGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_app_Context .rmGroup a.rmDisabled:hover .rmExpandRight, .RadMenu_app_Context .rmGroup a.rmDisabled:hover .rmExpandLeft, .RadMenu_app .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_app_rtl a.rmLink:hover, .RadMenu_app_rtl a.rmFocused, .RadMenu_app_rtl a.rmSelected
{
	background-position: 100% -96px;
}

.RadMenu_app_rtl a.rmLink:hover .rmText, .RadMenu_app_rtl a.rmFocused .rmText, .RadMenu_app_rtl a.rmSelected .rmText
{
	background-position: 0 -72px;
}

.RadMenu_app_rtl a.rmExpanded, .RadMenu_app_rtl a.rmExpanded:hover
{
	background-position: 100% -144px;
}

.RadMenu_app_rtl a.rmExpanded .rmText, .RadMenu_app_rtl a.rmExpanded:hover .rmText
{
	background-position: 0 -120px;
}

.RadMenu_app_rtl .rmGroup a.rmLink:hover, .RadMenu_app_rtl .rmGroup a.rmFocused, .RadMenu_app_rtl .rmGroup a.rmSelected, .RadMenu_app_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_app_rtl .rmGroup a.rmLink:hover .rmText, .RadMenu_app_rtl .rmGroup a.rmFocused .rmText, .RadMenu_app_rtl .rmGroup a.rmSelected .rmText, .RadMenu_app_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_app_Context_rtl .rmVertical .rmExpandLeft, .RadMenu_app_rtl .rmRootGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_app_rtl a.rmLink:hover .rmExpandLeft, .RadMenu_app_rtl a.rmSelected .rmExpandLeft, .RadMenu_app_rtl a.rmFocused .rmExpandLeft
{
	background-position: 0 -2px;
}

.RadMenu_app_rtl a.rmExpanded .rmExpandLeft, .RadMenu_app_rtl a.rmExpanded:hover .rmExpandLeft
{
	background-position: 0 -29px;
}

.RadMenu_app_rtl .rmGroup a.rmLink:hover .rmExpandLeft, .RadMenu_app_rtl .rmGroup a.rmFocused .rmExpandLeft, .RadMenu_app_rtl .rmGroup a.rmSelected .rmExpandLeft, .RadMenu_app_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -336px;
}

.RadMenu_app_Context_rtl .rmGroup a.rmDisabled:hover .rmExpandLeft, .RadMenu_app_rtl .rmRootGroup a.rmDisabled:hover .rmExpandLeft
{
	background-image: url('Menu/rmSprite.png');
	background-position: 0 -312px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_app .rmSlide
{
	margin: -3px 0 0 1px;
}

.RadMenu_app .rmVertical .rmSlide, .RadMenu_app .rmSlide .rmSlide, .RadMenu_app_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_app_rtl .rmSlide
{
	margin: -3px 0 0 -1px;
}

.RadMenu_app_rtl .rmVertical .rmSlide, .RadMenu_app_rtl .rmSlide .rmSlide, .RadMenu_app_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_app .rmLeftArrow, .RadMenu_app .rmRightArrow
{
	background-color: #ffffff;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_app .rmLeftArrow, .RadMenu_app .rmRightArrow
{
	background-color: #f3f5f6;
}

.RadMenu_app .rmLeftArrow
{
	background-position: -8px -312px;
	border-right: 1px solid #a7abb0;
}
.RadMenu_app .rmRightArrow
{
	background-position: -482px -216px;
	border-left: 1px solid #a7abb0;
}

.RadMenu_app .rmTopArrow, .RadMenu_app .rmBottomArrow, .RadMenu_app .rmGroup .rmLeftArrow, .RadMenu_app .rmGroup .rmRightArrow
{
	background-color: #ffffff;
}

.RadMenu_app .rmTopArrow
{
	background-position: 50% -367px;
	border-bottom: 1px solid #a7abb0;
}
.RadMenu_app .rmBottomArrow
{
	background-position: 50% -391px;
	border-top: 1px solid #a7abb0;
}

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_app .rmVertical .rmSeparator .rmText, .RadMenu_app .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_app .rmHorizontal .rmSeparator .rmText, .RadMenu_app .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

/* </Separators> */

/* </RadMenu / Office2007> */






div.RadMenu_app .rmItem .rmLink
{
	background-color: rgb(249, 246, 215);
}

div.RadMenu_app .rmItem .rmLink:hover
{
	background-color: #D7DBF2;
	background-image: none;
}

div.RadMenu_app .rmItem .rmLink:hover .rmText
{
	background-image: none;
	background-color: #D7DBF2;
	color: rgb(255, 255, 255);
}
div.RadMenu_app .rmItem .rmLink
{
	background-color: #000000;
}

div.RadMenu_app .rmGroup .rmItem .rmLink
{
	background-image: none;
	background-color: rgb(0, 0, 0);
}

div.RadMenu_app .rmGroup .rmItem .rmLink .rmText
{
	background-color: rgb(215, 219, 242);
}

div.RadMenu_app .rmGroup .rmItem .rmLink:hover
{
	background-color: rgb(250, 203, 0);
}

div.RadMenu_app .rmGroup .rmItem .rmLink:hover .rmText
{
	background-color: rgb(0, 0, 0);
}

.RadMenu_app > ul.rmRootGroup
{
	float: none !important;
}
